<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SmokeTest">
	
<test  name="Test">
        <classes>
<!-- Smoke Tests -->
			<class name="Test.AllTest">
				<methods>
					<include name = "RegistrationPoz"/>
					<include name = "RegistrationNeg"/>
					<include name = "UserLoginPoz"/>
					<include name = "UserLoginNeg"/>
					<include name = "UserLogOut"/>
				</methods>
			</class>
         </classes>
    
     </test> <!-- Test -->
</suite> <!-- Suite -->